 body { 
    margin:0;
    padding: 0;
    background: black;
}
.container
{
    position:relative;
    min-height: 100vh;
}
.about
{
    background: rgb(100, 95, 85);
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-width:100vw;
    overflow:hidden;
    padding: 4vmin;
}
.about > div
{
    width:40%;
    margin: 0 2vmin;
}
.profilpic
{
    align-self: flex-start;
    width:100%;
    opacity: 0.5;
    border: rgb(207, 203, 203) double 20px;
    border-radius: 100%;
}

.viewport-header2 {
    position: relative;
    height: 100vh;
    text-align: justify;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    line-height: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    color: rgb(207, 203, 203);
    letter-spacing: 3px;
  }

  .App-link {
      color: rgb(207, 203, 203);
  }
