
.background {
    margin: 20px;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.6;
}
.player-wrapper {
    margin: 0;
    padding: 0;
    z-index:1;
} 

h1 {
    font-weight: lighter;
}

p {
    font-weight: lighter;
}

.viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-transform: uppercase; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 400%;
    color: rgb(207, 203, 203);
    letter-spacing: 0,5;
    line-height: 0%;
  }

  h6 {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: lighter;
      letter-spacing: 6px;
      margin: 40px; 
      
  }

  h1 { 
      margin: 50px;
     
  }
